body {
    background-color:#7897AB;
}

#content {
    width:700px;
    margin:auto;
    margin-top:100px;
}

#mainMessage {
    border:1px solid black;
    border-radius:10px;
    background-color:white;
    height:100%;
    float:left;
    padding-bottom:10px;
}

#labbyimage {
    margin-left: 135px;
    margin-bottom:30px;
}

#messageTextArea {
    width: 650px;
	height: 120px;
	border: 1px solid gray;
	margin-left:23px;
	float:left;
}

#submit {
    float:right;
    margin-right:20px;
    margin-top:1px;
    border-radius:10px;
}

#submit:hover {
    background-color:#7897AB;
    cursor:pointer;
}

#amountOfMessages {
    float:right;
    margin-right:5px;
}

#numberOfMessages {
    float:right;
    margin-right:5px;
}

#messageMain {
    text-align:left;
    width:98%;
    float:left;
    margin-top:30px;
    margin-left:5px;
    border-radius:5px;
}

.message {
    text-align:left;
    width:98%;
    float:left;
    margin-top:10px;
    margin-left:5px;
    border-radius:5px;
    border:1px solid black;
    background-color:#7897AB;
}

.theMessage {
    width:87%;
    float:left;
    margin-left:3px;
}

.timeStamp {
    float:right;
    margin-right:3px;
    margin-bottom: -2px;
    font-size: 14px;
}

.delTimeAndTime {
    float:left;
    width:10%;
    padding-left: 12px;
}

.time {
    margin-left:5px;
}

.delete {
    margin-left:10px;
}